[tool.commitizen]
name = "cz_conventional_commits"
version = "0.10.1"
tag_format = "v$version"
version_scheme = "semver"
update_changelog_on_bump = true
major_version_zero = true

version_files = [
    "appinfo/info.xml:<version>",
    "package.json:version"
]
